<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
    </head>
    <body>
        <div>
            <div>
                <h1>💰 FinTrack</h1>
                <div>
                    <button> Login </button>
                    <button> Register </button>
                </div>
                <div>
                    <label>Email:</label>
                    <input type ="text" name ="text" required>
                    <br>
                    <br>
                    <label>Password:</label>
                    <input type ="password" name = "password" required>
                    <br> <br>
                    <button > Login </button>
                </div>
            </div>
        </div>
    </body>
</html>